:root {
    --color-white: #FFF;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    line-height: 1.6;
    color: var(--color-white);
    margin: 0;
    background-color: blue;
    font-weight: 300;
}

header {
    margin: 0 auto 30px auto;
}

#title {
    text-align: center;
    margin: 80px auto 0 auto;
}

#description{
    text-align: center;
    margin: 0;
    display: block;
}

#survey-form {
    text-align: center;
    margin: 30px 300px 20px 300px;
    padding: 40px 5px 10px 5px;
    border-radius: 10px;
    background-color: darkblue;
}

.form-style {
    padding: 50px 40px 0 40px;
}

label {
    display: flex;
    font-size: 1.2rem;
    align-items: center;
    padding-bottom: 0.4rem;
}

.form-control {
    width: 100%;
    border-radius: 5px;
    border-style: hidden;
    padding: 8px 10px 8px 10px;
    font-size: inherit;
    font-style: inherit;
    box-sizing: border-box;
}

#name-label {

}

#name {

}

#email-label {

}

#email {

}

#number-label {

}

#number {

}

p {
    font-size: 1.2rem;
    margin: 0 0 5px 0;
    text-align: center;
    display: flex;
}

#dropdown {
    background-color: white;
}

.tip {
    font-size: 0.7rem;
    padding-left: 4px;
    display: flex;
    align-items: center;
}

textarea {
    width: 100%;
    height: 150px;
    font-size: inherit;
    font-style: inherit;
    resize: vertical;
}

#submit {
    
}