:root {
    --color-white: #FFF;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    line-height: 1.6;
    color: var(--color-white);
    margin: 0;
    background-color: blue;
    font-weight: 300;
}

header {
    margin: 0 auto 30px auto;
}

#title {
    text-align: center;
    margin: 80px auto 0 auto;
}

#description{
    text-align: center;
    margin: 0;
}

#survey-form {
    text-align: center;
    margin: 30px 300px 20px 300px;
    padding: 40px 5px 10px 5px
    border-radius: 10px;
    background-color: darkblue;
}

.form-style {
    padding: 50px 40px 0 40px;
}

label {
    display: flex;
    font-size: 1.2rem;
}

.form-control {
    width: 100%;
    border-radius: 5px;
    border-style: hidden;
    padding: 10px 0 10px 0;
    font-size: inherit;
    font-style: inherit;
}

#name-label {

}

#name {

}

#email-label {

}

#email {

}

#number-label {

}

#number {

}

#dropdown {

}

#tip {

}

#submit {
    
}